<div class="card mx-auto mb-4">
    <a href="#" class="post-link" >
        <div class="card-header" data-id={{id}}>
            {{title}}
            <p class="author">Posted by {{user.user_name}} on {{format_date date_created}}</p>
        </div>
    </a>
    <div class="card-body">
        <p>{{text}}</p>
    </div>
</div>