{{!-- view original post --}}
   {{>mainheader}}

<div class="card mx-auto mb-4">
    <div class="card-header" data-id={{post.id}}>
        {{post.title}}
        <p class="author">Posted by {{post.user.user_name}} on {{format_date post.date_created}}</p>
    </div>
    <div class="card-body">
        <p>{{post.text}}</p>
    </div>
</div>

{{!-- view comments --}}
{{#if comments}}
{{#each comments}}
{{>postedcomment}}
{{/each}}
{{/if}}

{{!-- create new comment --}}
<div class="card mx-auto mb-4">
    <div class="card-header">
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea class="form-control" id="comment" rows="3"></textarea>
            </div>
            <div class="d-grid gap-2 mb-2">
                <button type="button" class="btn btn-secondary" id="btn-comment" data-comment={{post.id}}>Add
                    Comment</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/comment.js"></script>
